* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}


@font-face {
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/stratosskyengweb-regular.woff2") format("woff2");
}



body {
    background: #004980;
    display: flex;
    justify-content: center;
}

.window {
    background: #C2F5FF;
    border-radius: 12px;
    height: 459px;
    margin-top: 158px;
    margin-bottom: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
}

.window__title {
    font-family: "StratosSkyeng";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #004980;
    margin-top: 52px;
    margin-left: 136px;
    margin-right: 136px;
}

.window__level {
    margin-top: 48px;
    display: flex;
}

.window__level-button {
    width: 98px;
    height: 98px;

    background: #FFFFFF;
    border-radius: 12px;
    margin-left: 12px;
    margin-right: 12px;
    border-color: transparent;

    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    /* or 112% */

    display: flex;
    align-items: center;
    justify-content: center;

    color: #0080C1;
}

.-active {
    border-color: #0080C1;
}

.game__button {
    width: 246px;
    height: 50px;
    margin-top: 67px;
    background: #7AC100;
    border-radius: 12px;
    border: 0;


    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}