* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

@font-face {
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/stratosskyengweb-regular.woff2') format('woff2');
}

body {
    background: #004980;
    display: flex;
    justify-content: center;
    font-family: StratosSkyeng;
}

.window {
    background: #c2f5ff;
    border-radius: 12px;
    height: 459px;
    margin-top: 158px;
    margin-bottom: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
}

.window__title {
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #004980;
    margin-top: 52px;
    margin-left: 136px;
    margin-right: 136px;
}

.window__level {
    margin-top: 48px;
    display: flex;
    margin-right: 10px;
}

.window__level input[type='radio'] {
    display: none;
}

.window__level label {
    cursor: pointer;
    width: 98px;
    height: 98px;
    background: #fff;
    border-radius: 12px;
    margin-left: 12px;
    margin-right: 12px;
    border-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;

    /* or 112% */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0080c1;
}

/* Hover */
.window__level label:hover {
    color: #004980;
}

/* Checked */
.window__level input[type='radio']:checked + label {
    background: #efefef;
    color: #004980;
}

.game__button {
    width: 246px;
    height: 50px;
    margin-top: 67px;
    background: #7ac100;
    border-radius: 12px;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.game__button:hover {
    color: #004980;
}
